<p>
	<label for="settings_slack_url">Slack URL</label>
	<input type="text" id="settings_slack_url" size=80 value="<%= settings['slack_url'] %>" name="settings[slack_url]" />
</p>

<p>
	<%= l(:redmine_user_slack_label_msg_url1) %> <a href="https://slack.com/apps/build/custom-integration"><%= l(:redmine_user_slack_label_msg_url2) %></a>.
</p>

<p>
	<label for="settings_username"><%= l(:redmine_user_slack_label_user_name) %></label>
	<input type="text" id="settings_username" value="<%= settings['username'] %>" name="settings[username]" />
</p>

<p>
	<label for="settings_display_watchers"><%= l(:redmine_user_slack_label_display_watchers) %></label>
	<select id="settings_display_watchers" value="<%= settings['display_watchers'] %>" name="settings[display_watchers]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_watchers'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_short_message"><%= l(:redmine_user_slack_label_short_message) %></label>
	<select id="settings_short_message" value="<%= settings['short_message'] %>" name="settings[short_message]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['short_message'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<%= l(:redmine_user_slack_label_msg_cf1) %> <a href="/custom_fields/new?type=UserCustomField"><%= l(:redmine_user_slack_label_msg_cf2) %></a> <%= l(:redmine_user_slack_label_msg_cf3) %>
</p>
